.ant-picker-calendar-date-content {
  height: 30px !important;
}
.ant-picker-calendar-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.ant-modal .ant-modal-footer {
  display: flex;
  justify-content: space-evenly;
}
